@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgb(0,0,0,0.4);
  flex-basis: 50%;
  min-height: 90%;
}

.title-box {
  padding: 30px;
  background-color: rgb(77, 116, 81);
  color: white;
}

h1 {
  font-size: 32px;
}

.list-box {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid green;
}

.card {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.card p {
  font-size: 12px;
}

.card * {
  border: 1px solid black;
}

.text-box {
  flex: 1;
}