* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  "header header header header"
  "main main . sidebar"
  "footer footer footer footer";
  border: 1px solid red;
  row-gap: 10px;
  /* align-items: center; */
}

.child {
  border: 1px solid black;
  /* height: 150px; */
}

.child:first-child {
  grid-area: header;
  background-color: lightblue;
}

.child:nth-child(2) {
  grid-area: main;
  background-color: lightcoral;
  /* font-size: 18px; */
}

.child:nth-child(3) {
  grid-area: sidebar;
  background-color: lightgreen;
}

.child:nth-child(4) {
  grid-area: footer;
  background-color: lightsalmon;
}